{% macro write_supported_precision_runtimes(supported_precision_runtimes) -%}
dict[Precision, list[TargetRuntime]] = {
    {% for precision, runtimes in supported_precision_runtimes.items() %}
    {{ "Precision." + precision }}: [
            {% for runtime in runtimes %}
            {{ "TargetRuntime." + runtime }},
            {% endfor %}
        ],
    {% endfor %}
}
{% endmacro %}
